.profile-img {
    width: 150px;
    /* Tentukan lebar yang sama dengan tinggi */
    height: 150px;
    /* Pastikan tinggi sama untuk lingkaran sempurna */
    object-fit: cover;
    /* Memastikan gambar tetap proporsional dan terpotong rapi */
    /* Opsional: menambahkan border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Opsional: bayangan untuk efek lebih menarik */
}

.icon-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animasi hover */
    cursor: pointer; /* Kursor menjadi pointer saat hover */
    padding: 5px; /* Memberikan ruang di sekitar ikon */
}

.icon-hover:hover {
    transform: scale(1.2); /* Membesarkan ikon saat hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Efek bayangan saat hover */
    border-radius: 10px; /* Sudut sedikit melengkung saat hover */
}

/* contact style maps */
.maps-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* Agar tidak meluber keluar container */
}

#google-maps iframe {
    width: 100%;
    /* Membuat lebar penuh sesuai container */
    height: 400px;
    /* Tinggi bisa disesuaikan */
    border: 0;
    /* Menghapus border bawaan */
}

@media (max-width: 768px) {
    #google-maps iframe {
        height: 300px;
        /* Tinggi lebih kecil untuk perangkat mobile */
    }
}

/* end style maps */
